# Auto detect text files and perform LF normalization
* text=auto

# Set linguist-language for Razor pages
*.c# linguist-language=C# 56.8%
*.html linguist-language=HTML 42.5%
* linguist-language=Other 0.7%

# Set merge driver for project and solution files
*.csproj merge=binary
*.vbproj merge=binary
*.vcxproj merge=binary
*.vcproj merge=binary
*.dbproj merge=binary
*.fsproj merge=binary
*.lsproj merge=binary
*.wixproj merge=binary
*.modelproj merge=binary
*.sqlproj merge=binary
*.wwaproj merge=binary

# Treat image files as binary
*.jpg binary
*.png binary
*.gif binary

# Convert binary document formats to text before diffing them
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain
